biopython
#https://github.com/tanghaibao/goatools
goatools
joblib
mygene
numpy
matplotlib
mhcnames
pandas
pepdata
pillow
pyensembl
pyllars
pysam
#https://github.com/tkf/sexpdata
sexpdata 
tqdm
#https://github.com/WebLogo/weblogo
weblogo 